body {
    background-color: #f1f2f6;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #3498db;
}

.btn-primary {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-cadastrar {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
}

.card-header {
    background-color: #34495e;
    color: #ffffff;
    border-bottom: none;
}

.card-header h3 {
    margin-bottom: 0;
}